Tutorial for using Python with MongoDB for querying (also in MongoDB syntax). Weiterführende Tutorials:

*   https://www.mongodb.com/blog/post/getting-started-with-python-and-mongodb
*   https://dzone.com/articles/getting-started-with-python-and-mongodb
*   http://zetcode.com/python/pymongo/
*   https://www.sitepoint.com/using-joins-in-mongodb-nosql-databases/

In [ ]:
!pip install dnspython

Collecting dnspython
  Downloading https://files.pythonhosted.org/packages/90/49/cb426577c28ca3e35332815b795a99e467523843fc83cc85ca0d6be2515a/dnspython-2.0.0-py3-none-any.whl (208kB)
     |████████████████████████████████| 215kB 6.7MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.0.0

Check white list in Network Access in Mongo Atlas, you might get a connection error else when querying (not connecting...). Below the command to show which ip address this server has from the outside.

In [ ]:
!curl ipecho.net/plain

34.66.77.46

Connect to the Mongo Atlas, important replace USERNAME and PASSWORD appropriately (Project 0/Database Access/User).

In [ ]:
from pymongo import MongoClient
client = MongoClient('mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.rndqo.mongodb.net/sample_analytics')

We use the sample_analytics connection.

In [ ]:
db = client.sample_analytics

With the following code you can check the type and which attributes/functions you can do with the object/instance "db".

In [ ]:
print(type(db),dir(db))

<class 'pymongo.database.Database'> ['_BaseObject__codec_options', '_BaseObject__read_concern', '_BaseObject__read_preference', '_BaseObject__write_concern', '_Database__client', '_Database__incoming_copying_manipulators', '_Database__incoming_manipulators', '_Database__name', '_Database__outgoing_copying_manipulators', '_Database__outgoing_manipulators', '__call__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattr__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__next__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_apply_incoming_copying_manipulators', '_apply_incoming_manipulators', '_command', '_create_or_update_user', '_current_op', '_default_role', '_fix_incoming', '_fix_outgoing', '_list_collections', '_read_preference_for', '_retryable_read_command', '_write_concern_for', 'add_son_manipulator', 'add_user', 'aggregate', 'authenticate', 'client', 'codec_options', 'collection_names', 'command', 'create_collection', 'current_op', 'dereference', 'drop_collection', 'error', 'eval', 'get_collection', 'incoming_copying_manipulators', 'incoming_manipulators', 'last_status', 'list_collection_names', 'list_collections', 'logout', 'name', 'next', 'outgoing_copying_manipulators', 'outgoing_manipulators', 'previous_error', 'profiling_info', 'profiling_level', 'read_concern', 'read_preference', 'remove_user', 'reset_error_history', 'set_profiling_level', 'system_js', 'validate_collection', 'watch', 'with_options', 'write_concern']

Let's list which collections are in this database

In [ ]:
db.list_collection_names()

['customers', 'accounts', 'transactions']

Just checking the status of the server and connections.

In [ ]:
client.admin.command("serverStatus")

{'$clusterTime': {'clusterTime': Timestamp(1606818411, 1),
  'signature': {'hash': b'{y\xadi.p\xeb\x13\x15rLo\xafQD\xc7\xa6\x12\x1dg',
   'keyId': 6880201432511807491}},
 'asserts': {'msg': 0, 'regular': 0, 'rollovers': 0, 'user': 0, 'warning': 0},
 'atlasVersion': {'gitVersion': '4719b6d34c5fbbf73e93f1ff22641ebf02da3249',
  'version': '20201013.0.0.1602254538'},
 'connections': {'available': 490, 'current': 10, 'totalCreated': 70},
 'extra_info': {'note': 'fields vary by platform', 'page_faults': 0},
 'host': 'cluster0-shard-00-02.rndqo.mongodb.net:27017',
 'localTime': datetime.datetime(2020, 12, 1, 10, 26, 51, 350000),
 'mem': {'bits': 64,
  'mapped': 0,
  'mappedWithJournal': 0,
  'resident': 0,
  'supported': True,
  'virtual': 0},
 'metrics': {'atlas': {'bytesInWrites': 346030080,
   'connectionPool': {'totalCreated': 4810}}},
 'network': {'bytesIn': 349686, 'bytesOut': 7649789, 'numRequests': 1386},
 'ok': 1.0,
 'opcounters': {'command': 1362,
  'delete': 0,
  'getmore': 2,
  'insert': 0,
  'query': 21,
  'update': 0},
 'opcountersRepl': {'command': 0,
  'delete': 0,
  'getmore': 0,
  'insert': 0,
  'query': 0,
  'update': 0},
 'operationTime': Timestamp(1606818411, 1),
 'pid': 1653,
 'process': 'mongod',
 'repl': {'electionId': ObjectId('7fffffff0000000000000006'),
  'hosts': ['cluster0-shard-00-00.rndqo.mongodb.net:27017',
   'cluster0-shard-00-01.rndqo.mongodb.net:27017',
   'cluster0-shard-00-02.rndqo.mongodb.net:27017'],
  'ismaster': True,
  'lastWrite': {'lastWriteDate': datetime.datetime(2020, 12, 1, 10, 26, 51),
   'majorityOpTime': {'t': 6, 'ts': Timestamp(1606818411, 1)},
   'majorityWriteDate': datetime.datetime(2020, 12, 1, 10, 26, 51),
   'opTime': {'t': 6, 'ts': Timestamp(1606818411, 1)}},
  'me': 'cluster0-shard-00-02.rndqo.mongodb.net:27017',
  'primary': 'cluster0-shard-00-02.rndqo.mongodb.net:27017',
  'rbid': 1,
  'secondary': False,
  'setName': 'atlas-gp709g-shard-0',
  'setVersion': 1,
  'tags': {'nodeType': 'ELECTABLE',
   'provider': 'AWS',
   'region': 'EU_CENTRAL_1',
   'workloadType': 'OPERATIONAL'}},
 'storageEngine': {'backupCursorOpen': False,
  'dropPendingIdents': 0,
  'name': 'wiredTiger',
  'oldestRequiredTimestampForCrashRecovery': Timestamp(1606818359, 2),
  'persistent': True,
  'readOnly': False,
  'supportsCommittedReads': True,
  'supportsPendingDrops': True,
  'supportsSnapshotReadConcern': True},
 'uptime': 4649194.0,
 'uptimeEstimate': 4649193,
 'uptimeMillis': 4649193771,
 'version': '4.2.10'}

Let's get the account collection.

In [ ]:
accounts= db.accounts

Print out the type, check that it is a collection: https://docs.mongodb.com/manual/core/databases-and-collections/.

In [ ]:
type(accounts)

pymongo.collection.Collection

Let's get the data from it.

In [ ]:
result = accounts.find()

Interestingly the result is not a collection: https://docs.mongodb.com/manual/reference/method/db.collection.find/index.html

In [ ]:
type(result)

pymongo.cursor.Cursor

dir will tell you that result( Cursor) has a method next, which can be used to iterate through, let's iterate. Be aware, after iterating, the result will be empty (so you could save the data in a list).

In [ ]:
for i1,res in enumerate(result):
  if i1%100==0:
    print(res)
print(i1)

{'_id': ObjectId('5ca4bbc7a2dd94ee5816239a'), 'account_id': 370583, 'limit': 10000, 'products': ['Brokerage', 'Commodity', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee581625ea'), 'account_id': 642405, 'limit': 10000, 'products': ['Brokerage', 'Commodity', 'InvestmentFund', 'CurrencyService', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162581'), 'account_id': 529972, 'limit': 10000, 'products': ['CurrencyService', 'Commodity', 'InvestmentStock', 'Brokerage']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162460'), 'account_id': 898675, 'limit': 10000, 'products': ['InvestmentStock', 'Derivatives', 'Commodity']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162414'), 'account_id': 261796, 'limit': 10000, 'products': ['InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162583'), 'account_id': 785218, 'limit': 10000, 'products': ['Commodity', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162578'), 'account_id': 881424, 'limit': 10000, 'products': ['InvestmentStock', 'Derivatives']}
{'_id': ObjectId('5ca4bbc7a2dd94ee5816264d'), 'account_id': 944895, 'limit': 10000, 'products': ['InvestmentStock', 'CurrencyService', 'Derivatives']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162627'), 'account_id': 619693, 'limit': 10000, 'products': ['Commodity', 'InvestmentFund', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee5816272f'), 'account_id': 623937, 'limit': 10000, 'products': ['CurrencyService', 'InvestmentStock', 'InvestmentFund', 'Brokerage']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162790'), 'account_id': 329183, 'limit': 10000, 'products': ['Commodity', 'Brokerage', 'InvestmentFund', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee5816284c'), 'account_id': 617243, 'limit': 10000, 'products': ['CurrencyService', 'Brokerage', 'InvestmentFund', 'Derivatives', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162897'), 'account_id': 149247, 'limit': 10000, 'products': ['Derivatives', 'InvestmentFund', 'Brokerage', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee581627bb'), 'account_id': 373260, 'limit': 10000, 'products': ['Brokerage', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee581628df'), 'account_id': 486521, 'limit': 10000, 'products': ['InvestmentStock', 'Commodity', 'CurrencyService']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162991'), 'account_id': 541950, 'limit': 10000, 'products': ['Commodity', 'Derivatives', 'InvestmentFund', 'CurrencyService', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee581629dc'), 'account_id': 999198, 'limit': 10000, 'products': ['Derivatives', 'InvestmentStock']}
{'_id': ObjectId('5ca4bbc7a2dd94ee58162a3d'), 'account_id': 896364, 'limit': 9000, 'products': ['Commodity', 'InvestmentStock']}
1745

Not lets use mongodb to acquire the data we need. Here we will aggregate two collections, accounts with transactions. Further, we use the account_id from accounts and link to the foreignField account_id from transactions, similarly as "join on" in sql. We rename that transacgtions_link. We will also selection only those records which have account_id less than 370000.

In [ ]:
result = accounts.aggregate([
    {
        '$lookup': {
            'from': 'transactions', 
            'localField': 'account_id', 
            'foreignField': 'account_id', 
            'as': 'transactions_link'
        }
    }, {
        '$match': {
            '$expr': {
                '$gt': [
                    370000, '$account_id'
                ]
            }
        }
    }
])

Let's check the result.

In [ ]:
for res in result:
  print(res["account_id"],len(res["transactions_link"][0]["transactions"]))

212024 32
328304 62
136137 51
228290 66
276528 47
353465 74
135185 47
137994 65
198100 66
304914 65
324287 21
278603 83
260499 94
209363 56
299072 46
330318 72
299100 52
255695 17
199962 26
116508 81
199711 69
327942 55
165279 5
141237 45
109139 80
230611 20
369055 64
147575 19
183253 66
327520 36
84115 75
53124 41
101383 28
59715 93
76399 53
98267 36
296866 96
330961 27
202669 61
59768 98
358133 13
337979 35
359211 87
165436 27
331043 98
244662 67
285919 33
292277 70
111213 13
194523 3
77032 81
303388 9
292528 45
103346 70
155327 87
170945 66
264514 95
226641 19
66698 75
62713 44
349536 29
344885 27
261248 33
278866 100
155475 8
323636 27
130717 34
205563 57
183400 1
271186 60
118003 39
143720 79
343230 98
158557 80
87965 58
226398 46
278497 79
166084 73
160912 68
139687 91
126833 27
356905 88
141597 3
54977 15
312740 5
303316 99
341068 9
85228 22
154391 4
369761 19
139582 93
78388 28
312052 27
130514 27
62872 54
66589 57
317556 7
57322 79
129238 43
240640 97
149440 8
175894 96
120556 75
271554 96
177069 25
235779 77
303025 97
77397 100
328466 50
50948 6
328627 85
199559 21
159243 80
144469 51
131176 54
122923 53
321695 92
233104 70
280867 83
87191 26
96224 38
271109 41
344523 32
55958 10
165706 10
261796 54
316726 25
348352 33
54368 32
51474 8
103659 60
66611 5
87437 82
163269 65
225602 88
87389 23
168924 53
126444 76
329562 99
292314 8
364643 29
88112 28
131885 35
278149 77
300446 68
129343 41
177814 45
132017 13
277161 3
153460 99
273823 48
303463 22
183917 94
358036 36
260799 92
275355 99
300405 35
161460 18
226865 53
156715 98
103536 48
200611 14
167939 77
164836 20
231223 16
136139 17
107787 29
151378 51
354107 4
155156 24
345766 83
317931 91
312230 27
51080 34
236908 95
332179 99
346408 37
116390 2
155111 40
162007 31
77831 44
331169 58
306033 80
300735 29
120548 63
317282 77
203285 9
161714 35
126668 58
325377 23
120472 88
176639 22
55104 78
185130 41
59819 84
249109 58
155224 30
211992 61
175926 19
181073 56
293516 5
86702 20
246735 40
294632 92
287686 47
226114 21
61329 24
356904 15
358684 67
153224 99
145588 84
210670 60
118127 43
347313 54
357510 24
304450 81
298562 36
130832 75
90117 92
319308 35
261962 15
209755 85
356073 53
126102 21
236337 75
182094 82
350181 29
141474 18
114739 11
216662 44
178000 68
152748 29
113123 2
333075 52
122551 68
228685 25
333315 68
238687 93
231225 7
253017 16
190959 61
101920 59
312758 32
171769 9
351905 58
163788 99
207715 87
210513 27
254176 12
235286 83
185549 8
201771 31
57161 10
146756 32
323481 24
122436 20
312854 7
58303 60
305286 80
129971 61
280758 6
88799 41
348140 97
273420 4
235687 83
207806 2
297819 46
105134 88
62845 6
351069 18
120270 48
118134 72
94177 77
326795 29
82008 66
90414 94
69394 21
56045 69
347967 92
150713 54
268769 14
180092 42
214845 35
182387 14
258443 75
182103 19
227194 18
204117 11
351206 77
123689 52
83355 53
109478 67
188293 64
300879 45
179746 27
124603 98
238139 99
253554 1
280906 87
105098 51
214649 58
118623 35
54685 5
360655 81
185394 18
193987 9
51822 35
170980 1
304730 78
86373 54
312942 61
238373 84
124977 74
92217 68
337202 13
245503 90
198307 13
186687 39
206656 29
265053 94
300714 19
103062 13
70441 23
288877 49
228298 83
323373 5
165597 9
177799 72
267252 75
246018 74
147334 77
180580 28
111287 63
329183 4
240753 15
188363 49
219169 98
146621 79
266920 70
244782 47
328915 28
141868 62
206973 10
71148 99
247853 3
201161 49
147085 94
51645 71
129968 17
111626 64
154492 77
168349 44
233540 67
162572 63
168620 22
185104 58
305656 48
301176 56
275187 73
333684 40
202946 43
341830 92
257801 75
271625 74
304194 38
137090 18
249078 89
262488 32
234369 15
292224 35
171900 42
276878 50
243963 61
240787 42
230586 16
154636 76
262642 95
157990 41
285707 44
332256 63
199407 97
212219 97
344107 90
176390 21
320075 92
85791 32
223583 45
368133 35
248398 12
340147 82
149247 26
263864 55
310074 60
174471 78
167440 50
308785 67
68034 16
292438 77
222581 60
141586 96
140557 92
299822 50
51253 53
278669 29
261128 17
172950 30
86494 38
83546 4
133163 73
287076 45
89466 90
218214 81
112468 24
60664 12
293111 20
239538 12
339678 9
332860 45
339477 26
212579 10
184422 52
260504 24
79999 71
289795 67
222322 53
265862 97
131201 54
214555 37
285957 67
71674 82
336601 6
198855 55
308680 7
363138 27
205355 53
289492 19
155366 8
201862 27
87409 75
132536 29
328686 58
59378 23
333642 88
147275 83
129932 76
240685 47
317852 17
79985 8
126092 74
187107 96
193228 74
362683 9
97500 23
215284 91
133274 30
351402 63
308492 32
208252 58
315164 91
181212 24
350748 6
335182 19
243254 14
63141 40
189806 11
363315 1
74632 1
368168 47
195007 23
360452 1
88163 13
90019 71
138634 12
225930 88
328105 57
242287 58
355301 11
333677 30
265264 56
65661 67
335665 6
322023 70
308215 47
117971 92
310737 27
326212 42
175615 30
95914 46
238662 86
67224 25
302149 67
131371 75
95826 88
164260 43
327655 58
69218 70
130610 57
229182 4
130870 76
122908 56
174786 36
177869 32
317449 53
301773 47
264502 20
344075 24
134905 58
229899 82
77690 90
279899 25
76339 52
357823 82
297499 87
100721 48
321208 88
255267 57
237182 43
153377 90
313926 89
89646 86
350483 15
161597 31
96431 99
147641 72
287485 12
51617 100
267947 6
162819 75
82071 34
134434 100
235824 93
218657 37
307731 83
212417 30
222061 26
181984 25
146967 80
181687 76
59275 79
313907 41
142442 24
365969 15
89698 86
351063 17
248380 73
311880 97
158757 31
177004 60
360322 71
187397 26
232492 70
138703 94
179020 83
150321 62
120917 37
135875 41
223693 67
201361 71
363061 23
314671 22
327916 33
55473 31
73934 53
144876 53
82467 85
323327 54
87286 27
109710 53
97487 89
96021 56
249810 17
225728 71
206062 87
171129 36
291224 67
225511 59
352837 11
226253 7
272399 64
157495 10
352008 32
255004 3
211212 56
218101 30
70492 75
270514 1
309490 61

Same story but we could the results.

In [ ]:
result = accounts.aggregate([
    {
        '$lookup': {
            'from': 'transactions', 
            'localField': 'account_id', 
            'foreignField': 'account_id', 
            'as': 'transactions_link'
        }
    }, {
        '$match': {
            '$expr': {
                '$gt': [
                    370000, '$account_id'
                ]
            }
        }
    }, {
        '$count': 'account_id'
    }
])

In [ ]:
for res in result:
  print(res)

{'account_id': 588}

If you want check the results by putting transactions and accounts into two different pandas dataframes and merging them with sql.
For the NoSQL-report the MongoDB query is needed. Using the syntax in the find is enough. You could double check using the pandas approach though.

**Weiterführende Fragen:**

Kannst du auswählen, welche account_id transactions mit weniger als 30 Elemente haben?
Welche account hat die älteste transactions?
Überlege noch 1-2 komplexe Fragen in diesem Datensatz.